.proyects-container{
    /* background-color: #ccc; */
    width: 100%;
    height: 100%;
    max-height: 580px;
}
.proyects-container .proyects{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: max-content; height */
    gap: 1.5em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.proyects-container .proyects__column{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.proyects-container .proyect{
    /* background-color: orange; */
    height: max-content; /*height imgs*/
    border-radius: var(--br);
    animation: toDown 1s .5s backwards;
}
.proyects-container .proyect:nth-child(2){
    animation-delay: 1s;
}
.proyects-container .proyect:nth-child(3){
    animation-delay: 1.5s;
}
.proyects-container .proyect__img-container{}
.proyects-container .proyect__img-container img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 420px;
    border-radius: var(--br);
}
.proyects-container .proyect .title{}
.proyects-container .proyect .desc{}
.proyects-container .proyect .button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: var(--br);
    font-size: .9em;
    font-weight: 600;
    color: #eee;
    background-color: #111;
}
