.proyects-container{
    width: 100%;
    height: 100%;
    max-height: 580px;
}
.proyects-container .proyects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: max-content; height */
    gap: 1.5em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.proyects-container .proyects__column{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.proyects-container .proyect{
    height: max-content; /*height imgs*/
    border-radius: var(--br);
    animation: toDown 1s .1s backwards;
}
.proyects-container .proyect:nth-child(2){
    animation-delay: .5s;
}
.proyects-container .proyect__img-container{}
.proyects-container .proyect__img-container img,
    .proyects-container .proyect__img-container video{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 420px;
    border-radius: var(--br);
}
.proyects-container .proyect .title{}
.proyects-container .proyect .desc{}
.proyects-container .proyect button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: var(--br);
    font-size: .9em;
    font-weight: 600;
    /* color: var(--color1); */
    /* background-color: var(--color2); */
}
.proyects-container .proyect .button{
}