:root{
    --br: .5em;
    --primary-color: #fa0;
    --secondary-color: #fc0;
    --delay-during: .1s;
    --color1: #fff;
    --color2: #111;
    --outline: 1px solid #ddd;
    --outline-hovered: 1px solid var(--primary-color);
}
*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    color: var(--color2);
}
html{background-color: var(--color1);}
.wrapper{
    background-color: var(--color1);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    padding-top: 2em;
}

.wrapper .column-left{
    /* background-color:aquamarine; */
    max-height: 100vh;
    padding: 1.5em;
    font-weight: 600;
    animation: toRight 1s .5s backwards;
}

.column-left__whoami{}
.whoami__name{
    margin: 0;
    line-height: 25px;
}
.whoami__desc{
    margin: 1.5em 0;
    font-size: .9em;
}

.column-left__nav{
}
.nav__links{
    padding: 0;
    list-style: none;
    line-height: 30px;
}
.links__link-container{}
.links__link-container .link{
    font-size: .8em;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.column-left__links{}
.column-left__links .link{}


.column-aside{}
.column-aside .icons-container{
    margin-bottom: 1em;
}
.icons-container .icon{}
.column-aside span{
    font-size: .7em;
    font-weight: 700;
}

.wrapper .column-right{
    /* background-color: cadetblue; */
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1.5em;
    max-height: 100vh;
}
.column-right__section-changeable{}

@keyframes toDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes toRight {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}



.button-hovered{
    position: relative;
    overflow: hidden;
    outline: var(--outline);
    color: var(--color1);
    background-color: var(--color2);
    background-color: transparent;
}
.button-hovered:hover{
    color: #111;
}
.button-hovered span{
    position: relative;
    z-index: 100;
    color: var(--color2);
}
.button-hovered:hover > span{
    color: #111;
}
.button-hovered:after{
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transition: .15s ease-in;
}
.button-hovered:hover::after{
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}